{{!-- {{#each users as |user| }} --}}
<div class="user">
  <div>
    {{!-- it would be really cool to get a picture of the user here --}}
    <h2 class="userName">{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div>
    <h3 class=""><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
<div class="container-fluid row">
  
    <div>
      <img src="images/alaska-northern-lights.jpg" alt="northern lights">
      <button class="img-btn" id="btn-1"> Add Review </button>
    </div>

    <div>
      <img src="images/appalachian trail.jpg" alt="appalachian trail">
      <button class="img-btn" id="btn-2"> Add Review </button>
    </div>
  
    <div>
      <img src="images/bungee jump grand canyon.jpg" alt="bungee jumping">
      <button class="img-btn" id="btn-3"> Add Review </button>
    </div>

    <div>
      <img src="images/cave exploration new mexico.jpg" alt="cave exploration">
      <button class="img-btn" id="btn-4"> Add Review </button>
    </div>
  {{!-- not displaying  --}}
    <div>
      <img src="images/lava tubes hawaii.jpg" alt="lava tubes">
      <button class="img-btn" id="btn-5"> Add Review </button>
    </div>

{{!-- not displaying  --}}
    <div>
        <img src="images/scuba diving 2.jpg" alt="scuba diving">
        <button class="img-btn" id="btn-6"> Add Review </button>
    </div>
  
    <div>
      <img src="images/white water rafting arkansas.png" alt="white water rafting">
      <button class="img-btn" id="btn-7"> Add Review </button>
    </div>

    <div>
      <img src="images/zipline.jpg" alt="zip line">
      <button class="img-btn" id="btn-8"> Add Review </button>
    </div>
  {{!-- not displaying  --}}
    <div>
      <img src="images/mountain climbing mt whitney.jpg" alt="climbing mt whitney">
      <button class="img-btn" id="btn-9"> Add Review </button>
    </div>

{{!-- not displaying  --}}
    <div>
      <img src="images/paragliding.jpg" alt="paragliding">
      <button class="img-btn" id="btn-10"> Add Review </button>
    </div>
  </div>

  {{!-- <div class="form-group review">
    <label for="review-register">Add Review</label>
    <input class="form-input" type="review" id="review-register" />
  </div>
  <div class="form-group reviewBtn">
    <button class="btn btn-primary" type="submit">submit</button>
  </div> --}}

</div>

</div>
{{!-- {{/each}} --}}


