{{#each users as |user| }}
<div class="user">
  <div>
    <h2 class="">{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div>
    <h3 class=""><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
<div class="container-fluid row">
  
    <div>
      <img src="images/alaska-northern-lights.jpg" alt="northern lights">
    </div>

    <div>
      <img src="images/appalachian trail.jpg" alt="appalachian trail">
    </div>
  
    <div>
      <img src="images/bungee jump grand canyon.jpg" alt="bungee jumping">
    </div>

    <div>
      <img src="images/cave exploration new mexico.jpg" alt="cave exploration">
    </div>
  
    <div>
      <img src="images/lava tubes hawaii.jpeg" alt="lava tubes">
    </div>

{{!-- not displaying  --}}
    <div>
        <img src="./images for project 2/scubaSteve.jpg" alt="scuba diving">
    </div>
  
    <div>
      <img src="images/white water rafting arkansas.png" alt="white water rafting">
    </div>

    <div>
      <img src="images/zipline.jpg" alt="zip line">
    </div>
  
    <div>
      <img src="images/mountain climbing mt whitney.png" alt="climbing mt whitney">
    </div>

{{!-- not displaying  --}}
    <div>
      <img src="../public/images/paragliding, colordao.png" alt="paragliding">
    </div>
  </div>


</div>
{{/each}}

