<h2> Reviews <h2>
<form class="form Review-form">
  <div class="form-group">
    <label for="name-Activity">Activity:</label>
    <input class="form-input" type="text" id="name-activity" />
  </div>
   <div class="form-group">
    <label for="name-Location">Location:</label>
    <input class="form-input" type="text" id="name-location" />
  </div>
   <div class="form-group">
    <label for="name-Review">review:</label>
    <input class="form-input" type="text" id="name-review" />
  </div>
 
  <div class="form-group">
    <button class="btn btn-primary" type="submit"> submit review</button>
  </div>
</form>


<script>src="js/reviewsPage.js"</script>