body {
    display: flex;
    margin: 0;
}

img {
    height: 500px;
    width: 700px;
    margin-left: 14%;
}

.userName {
    margin-left: 3%;
}

.user {
    margin-left: 28%;
    margin-top: 100px;
}
 
.review {
    margin-left: 28%;
}

.reviewBtn {
    margin-left: 38%;
}